* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: burlywood;
  text-align: center;
}

.heading {
  margin: 20px 20%;
  border: 2px solid wheat;
  border-radius: 10px;
  background-color: saddlebrown;
  color: white;
}

.start{
  background-color: wheat;
  padding: 5px 15px 1px 15px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid white;
  border-radius: 20px;
  margin: 1px 20px 1px 10px;
}

.ColorBoxes {
  display: flex;
  justify-content: center;
}

.btn {
  height: 30vh;
  width: 30vw;
  border: 5px solid black;
  border-radius: 40px;
  margin: 2vh 2vw;
}

.red {
  background-color: crimson;
}

.yellow {
  background-color: darkgoldenrod;
}

.purple {
  background-color: darkmagenta;
}

.green {
  background-color: mediumseagreen;
}

.flash{
    background-color: blanchedalmond;
}
